<% layout("/layouts/boilerplate") %> <%= success %>

<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center   ;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 1rem;
    opacity: 0.7;
    font-size: 1rem;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  #taxInfo {
    display: none;
  }

  .tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 3rem;
    width: 10rem;
    align-items: center;
    margin-top: 0.8rem;
  }

</style>

<body>

  <div id="filters" >
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      Trending
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      Rooms
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-water-ladder"></i></div>
      Pools
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-city"></i></div>
      Icon Cities
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      Mountain
    </div>
    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      Castles
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-umbrella-beach"></i></div>
      Beaches
    </div> 
    <div class="filter">
      <div><i class="fa-solid fa-mug-saucer"></i></div>
      Breakfast & Tea
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      Camping
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-cow"></i></div>
      Farms
    </div>
    <div class="filter">
      <div><i class="fa-regular fa-snowflake"></i></div>
      Arctics
    </div>

    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" 
        type="checkbox" 
        role="switch" 
        id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display Taxes</label>
      </div>
    </div>
  </div>

    <!-- <h3 class="mt-3 mb-4">Welcome to, Travel Bug!!</h3> -->
    <!-- <form action="/listings/new" method="GET">
        <button>Add New Listing</button>
    </form> -->

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for ( let listing of allListings ) { %>
          <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card listing-cards">
              <img 
              src="<%= listing.image.url %>" 
              class="card-img-top" 
              alt="Listing_img" 
              style="height: 20rem;">
              <div class="card-img-overlay"></div>
              <div class="card-body">
                <p class="card-text">
                  <b><%= listing.title %></b><br>
                  <%= listing.price.toLocaleString("en-IN") %> / night
                  <i id="taxInfo" class="taxInfo"> &nbsp; +18% GST </i>
                </p>
              </div>
            </div>
          </a>
        <% } %>
    </div>
</body>

<script>
  let priceToggle = document.getElementById("flexSwitchCheckDefault");
  priceToggle.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("taxInfo");
    for (info of taxInfo) {
      if( info.style.display != "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>

<!-- .toLocaleString('en-IN') -->